<!DOCTYPE html>
<html lang="en" ng-app="SchemeApp">
<head>
    <meta charset="UTF-8">
    <title>Scheme API Portal</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <script src="js/angular.js"></script>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="/">Scheme</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="user-guide.html">User Guide</a>
                </li>
            </ul>
        </div>
        <span class="navbar-text">API Search</span>
    </div>
</nav>

<div class="container" ng-controller="SearchController">

    <div class="alert alert-danger" role="alert" ng-if="errorResponse">
        {{errorResponse.Message}}
    </div>

    <form>
        <div class="form-group">
            <label for="search-box">Search APIs</label>
            <input id="search-box" type="text" class="form-control" ng-model="searchText" ng-change="updateResults()">
        </div>
    </form>

    <p class="text-warning">Matching {{resultCount}} APIs </p>
    <div ng-repeat="h in searchResponse.hits.hits">
        <div class="float-right">
            <a href="/view/{{h._id}}"><span class="badge badge-primary">{{h._id}}</span></a>
            <a href="/view.html?id={{h._id}}"><span class="badge badge-primary">Raw View</span></a>
            <small>{{h._source.host}}{{h._source.basePath}} {{h._source.kind}}&nbsp;</small>
        </div>
        <h3 class="text-info">{{h._source.title}} <small>v {{h._source.version}}</small></h3>
        <p>{{h._source.description}}</p>
    </div>
</div>

<script src="js/jquery-3.5.0.min.js"></script>
<script src="js/bootstrap.bundle.min.js" type="application/javascript"></script>
<script src="js/scheme.js"></script>
</body>
</html>