<!DOCTYPE html>
<html lang="en" ng-app="apelliconApp">
<head>
    <meta charset="UTF-8">
    <title>Apellicon API Portal</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <script src="js/angular.js"></script>
</head>
<body class="bg-light">

<div class="container" ng-controller="SearchController">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Apellicon</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="user-guide.html">User Guide</a>
                </li>
            </ul>
        </div>
        <span class="navbar-text">API Search</span>
    </nav>

    <form>
        <div class="form-group">
            <label for="search-box">Search APIs</label>
            <input id="search-box" type="text" class="form-control" ng-model="searchText" ng-change="updateResults()">
        </div>
    </form>
    <p>Matching APIs {{resultCount}}</p>
    <div ng-repeat="h in searchResponse.hits.hits">
        <div class="float-right">
            <small>{{h._source.host}}{{h._source.basePath}} </small><img src="images/openapi.png" height="20"><small>{{h._source.kind}}&nbsp;<a href="/view.html?id={{h._id}}">{{h._id}}</a>&nbsp;<a href="/view/{{h._id}}">View</a></small>
        </div>
        <h3>{{h._source.title}} <small>v {{h._source.version}}</small></h3>
        <p>{{h._source.description}}</p>
    </div>
</div>

<script src="js/jquery-3.5.0.min.js"></script>
<script src="js/bootstrap.bundle.min.js" type="application/javascript"></script>
<script src="js/appelicon.js"></script>
</body>
</html>